<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<two_checkout>
				<currency>order</currency>
				<passOrderItems>1</passOrderItems>
				<title>Bank Card</title>
				<!-- 2016-03-15 -->
				<title_backend>2Checkout</title_backend>
			</two_checkout>
		</df_payment>
        <payment>
            <dfe_two_checkout>
<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\TwoCheckout\Method</model>
            </dfe_two_checkout>
        </payment>
    </default>
</config>
