<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
    <system>
        <section id='df_payment'>
            <!--
                2015-09-25
                1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
                в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
				3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
                в английском алфавите.
            -->
            <group
                id='two_checkout'
                translate='label'
                type='text'
                sortOrder='3'
                showInDefault='1'
                showInWebsite='1'
                showInStore='1'
            >
                <label>2Checkout</label>
                <field
                    id='enable'
                    translate='label'
                    type='Df\Framework\Data\Form\Element\Checkbox'
                    sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
                >
                    <label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/2checkout'>2Checkout</a>» payment extension?]]></comment>
                </field>
				<field
					id='test'
					translate='label'
					type='Df\Framework\Data\Form\Element\Checkbox'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1631'>test card numbers</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testAccountNumber'
					translate='label'
					type='text'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Account Number</label>
					<comment><![CDATA[<a href="https://mage2.pro/t/topic/1629">where to find it</a>?
<br/>The number should start with <b>9</b>.]]></comment>
					<validate>validate-digits</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testPublishableKey'
					translate='label'
					type='text'
					sortOrder='4'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Publishable Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1628'>How to get it?</a>]]></comment>
					<validate>validate-length maximum-length-36 minimum-length-36</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testSecretKey'
					translate='label'
					type='obscure'
					sortOrder='5'
					showInDefault='1'
					showInWebsite='1'
					showInStore='0'
				>
					<label>Sandbox Private Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1628'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>validate-length maximum-length-36 minimum-length-36</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testUsername'
					translate='label'
					type='text'
					sortOrder='6'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox API Username</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1637'>How to get it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testPassword'
					translate='label'
					type='obscure'
					sortOrder='7'
					showInDefault='1'
					showInWebsite='1'
					showInStore='0'
				>
					<label>Sandbox API Password</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1637'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testSecretWord'
					translate='label'
					type='obscure'
					sortOrder='8'
					showInDefault='1'
					showInWebsite='0'
					showInStore='0'
				>
					<label>Sandbox Secret Word</label>
					<comment><![CDATA[It is used for Notifications. <a href='https://mage2.pro/t/1646'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='prefill'
					translate='label'
					type='select'
					sortOrder='9'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Prefill the Payment Form with Test Data?</label>
					<source_model>Dfe\TwoCheckout\Source\Prefill</source_model>
					<comment><![CDATA[If you do not want it, then please use the following <a href='https://mage2.pro/t/1631'>test card numbers</a>.]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='liveAccountNumber'
					translate='label'
					type='text'
					sortOrder='10'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Account Number</label>
					<comment><![CDATA[<a href="https://mage2.pro/t/topic/1629">where to find it</a>?
<br/>The number should not start with <b>9</b>, because the such numbers are for sandbox accounts, not live.]]></comment>
					<validate>validate-digits</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='livePublishableKey'
					translate='label'
					type='text'
					sortOrder='11'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Publishable Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1628'>How to get it?</a>]]></comment>
					<validate>validate-length maximum-length-36 minimum-length-36</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveSecretKey'
					translate='label'
					type='obscure'
					sortOrder='12'
					showInDefault='1'
					showInWebsite='1'
					showInStore='0'
				>
					<label>Live Private Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1628'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>validate-length maximum-length-36 minimum-length-36</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveUsername'
					translate='label'
					type='text'
					sortOrder='13'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live API Username</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1637'>How to get it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='livePassword'
					translate='label'
					type='obscure'
					sortOrder='14'
					showInDefault='1'
					showInWebsite='1'
					showInStore='0'
				>
					<label>Live API Password</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1637'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveSecretWord'
					translate='label'
					type='obscure'
					sortOrder='15'
					showInDefault='1'
					showInWebsite='0'
					showInStore='0'
				>
					<label>Live Secret Word</label>
					<comment><![CDATA[It is used for Notifications. <a href='https://mage2.pro/t/1646'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='title'
					translate='label'
					type='text'
					sortOrder='16'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field 
					id='webhook' 
					translate='label' 
					type='Dfe\TwoCheckout\Element\Webhook'
					sortOrder='17'
					showInDefault='1' 
					showInWebsite='1' 
					showInStore='1'
				>
					<label>Notifications URL</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/977'>set it in your 2Checkout account</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='description'
					translate='label'
					type='textarea'
					sortOrder='18'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Description</label>
					<comment><![CDATA[It will be displayed in the Stripe web interface <a href="https://mage2.pro/t/903">alongside the payment</a>.
<br/>Note that if you use Stripe to send automatic email receipts to your customers, your receipt emails will include the description of the payment(s) that they are describing.
<br/>You can use the following variables in the template: <table class='df-note df-definition'><tbody>
		<tr>
			<td>{customer.name}</td>
			<td>Customer name</td>
		</tr>
		<tr>
			<td>{order.id}</td>
			<td>Order increment ID</td>
		</tr>
		<tr>
			<td>{order.items}</td>
			<td>Order items</td>
		</tr>
		<tr>
			<td>{store.domain}</td>
			<td>Store domain name</td>
		</tr>
		<tr>
			<td>{store.name}</td>
			<td>Store name</td>
		</tr>
		<tr>
			<td>{store.url}</td>
			<td>Store URL</td>
		</tr>
		<tr>
			<td>{a date expression}</td>
			<td>The current date.
			<br/>Use any expression supported by <a href="http://php.net/manual/en/function.date.php#refsect1-function.date-parameters">PHP <code>date()</code></a> function.
			<br/>Examples:
            <br/>{y-m} => <i>16-01</i>
			<br/>{Y-m} => <i>2016-01</i>
		  	<br/>{Y-M} => <i>2016-Jan</i>
			</td>
		</tr>
</tbody></table>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='statement'
					translate='label'
					type='text'
					sortOrder='19'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Statement for Customer</label>
					<comment><![CDATA[An arbitrary string to be displayed on your customer's bank card statement.
<br/>This may be up to <b>22</b> characters, may not include <b><>"'</b> characters, and will appear on your customer's statement in capital letters.
<br/>Non-ASCII characters are automatically stripped.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>validate-length maximum-length-22</validate>
				</field>
				<field
					id='min_order_total'
					translate='label'
					type='text'
					sortOrder='20'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					translate='label'
					type='text'
					sortOrder='21'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					translate='label'
					type='select'
					sortOrder='22'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					translate='label'
					type='Df\Framework\Data\Form\Element\Multiselect'
					sortOrder='23'
					showInDefault='1'
					showInWebsite='1'
					showInStore='0'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
						<!--
						 	2016-03-08
						 	«The negative syntax for the backend config field <depends> condition»
                            https://mage2.pro/t/329
						-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>				
            </group>
        </section>
    </system>
</config>