<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
    <system>
        <section id='df_payment'>
            <!--
                2015-09-25
                1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
                в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
				3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
                в английском алфавите.
            -->
            <group
                id='two_checkout'
                translate='label'
                type='text'
                sortOrder='3'
                showInDefault='1'
                showInWebsite='1'
                showInStore='1'
            >
                <label>2Checkout</label>
				<dfExtension>Dfe\TwoCheckout\Ext</dfExtension>
				<frontend_model>Df\Config\Block\System\Config\Form\Fieldset\Ext</frontend_model>
                <field
                    id='enable'
                    translate='label'
                    type='Df\Framework\Form\Element\Checkbox'
                    sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
                >
                    <label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/2checkout' target='_blank'>2Checkout</a>» payment extension?]]></comment>
                </field>
				<field
					id='test'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://sandbox.2checkout.com/sandbox/signup' target='_blank'>How to create a sandbox account?</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testAccountNumber'
					translate='label'
					type='text'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='0'
					showInStore='1'
				>
					<label>Sandbox Account Number</label>
					<comment><![CDATA[<a href="https://mage2.pro/t/topic/1629" target='_blank'>Where to find it?</a>
<br/>The number should start with <b>9</b>.]]></comment>
					<validate>validate-digits</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testPublishableKey'
					translate='label'
					type='text'
					sortOrder='4'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Publishable Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1628' target='_blank'>How to get it?</a>]]></comment>
					<validate>validate-length maximum-length-36 minimum-length-36</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testSecretKey'
					translate='label'
					type='obscure'
					sortOrder='5'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Private Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1628' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>validate-length maximum-length-36 minimum-length-36</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testUsername'
					translate='label'
					type='text'
					sortOrder='6'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox API Username</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1637' target='_blank'>How to get it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testPassword'
					translate='label'
					type='obscure'
					sortOrder='7'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox API Password</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1637' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testSecretWord'
					translate='label'
					type='obscure'
					sortOrder='8'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Secret Word</label>
					<comment><![CDATA[It is used for Notifications. <a href='https://mage2.pro/t/1646' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='prefill'
					translate='label'
					type='select'
					sortOrder='9'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Prefill the Payment Form with Test Data?</label>
					<source_model>Dfe\TwoCheckout\Source\Prefill</source_model>
					<comment><![CDATA[If you do not want it, then please use the following <a href='https://mage2.pro/t/1631' target='_blank'>test card numbers</a>.]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='liveAccountNumber'
					translate='label'
					type='text'
					sortOrder='10'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Account Number</label>
					<comment><![CDATA[<a href="https://mage2.pro/t/topic/1629" target='_blank'>Where to find it?</a>
<br/>The number should not start with <b>9</b>, because the such numbers are for sandbox accounts, not live.]]></comment>
					<validate>validate-digits</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='livePublishableKey'
					translate='label'
					type='text'
					sortOrder='11'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Publishable Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1628' target='_blank'>How to get it?</a>]]></comment>
					<validate>validate-length maximum-length-36 minimum-length-36</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveSecretKey'
					translate='label'
					type='obscure'
					sortOrder='12'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Private Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1628' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>validate-length maximum-length-36 minimum-length-36</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveUsername'
					translate='label'
					type='text'
					sortOrder='13'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live API Username</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1637' target='_blank'>How to get it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='livePassword'
					translate='label'
					type='obscure'
					sortOrder='14'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live API Password</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1637' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveSecretWord'
					translate='label'
					type='obscure'
					sortOrder='15'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Secret Word</label>
					<comment><![CDATA[It is used for Notifications. <a href='https://mage2.pro/t/1646' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='title'
					translate='label'
					type='text'
					sortOrder='16'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field 
					id='webhook' 
					translate='label' 
					type='Df\Framework\Form\Element\Webhook'
					dfWebhook_routePath='dfe-2checkout'
					sortOrder='16'
					showInDefault='1' 
					showInWebsite='1'
					showInStore='1'
				>
					<label>Notifications URL</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1632' target='_blank'>Set it in your 2Checkout account.</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='passOrderItems'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='17'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Pass Order Items to the Payment Gateway?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[The preferred value is «<b>Yes</b>».
<br/>Use «<b>No</b>» as a temporary workaround if an incorrect payment amount is passed to the  gateway.]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
				</field>
				<field
					id='min_order_total'
					translate='label'
					type='text'
					sortOrder='18'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					translate='label'
					type='text'
					sortOrder='19'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					translate='label'
					type='select'
					sortOrder='20'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
					sortOrder='21'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
						<!--
						 	2016-03-08
						 	«The negative syntax for the backend config field <depends> condition»
                            https://mage2.pro/t/329
						-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>				
            </group>
        </section>
    </system>
</config>